.libs/
_libs/
.deps/
*/.libs/
*/_libs/
*/.deps/
*.o
*.lo
*.la
*.pc
*.tab.c
Makefile
config.h
config.cache
config.log
config.status
config.lt
stamp-h1
libtool
eot2ttf
so_locations
cscope.*
TAGS
ID
GTAGS
GRTAGS
GSYMS
GPATH
