# Autotools build artifacts
**/.dirstamp
**/.deps/
**/.libs/
/autom4te.cache/
/Makefile
/config.h
/config.log
/config.status
/stamp-h1
/libtool
/libeot.pc
/eot2ttf

# Objects/libraries
*.o
*.lo
*.la
*.a
*.so*
*.dylib
*.dll
*.exe
*.obj

# Misc build logs
*.log
