# Autotools build artifacts
**/.dirstamp
**/.deps/
**/.libs/
/autom4te.cache/
/config.log
/config.status
/stamp-h1

# Objects/libraries
*.o
*.lo
*.la
*.a
*.so*
*.dylib
*.dll
*.exe
*.obj

# Misc build logs
*.log
